<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bokdetaljer</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1 onclick="window.location.href='/'">Bibliotek</h1>
    </header>
    <div id="bookDetail" class="book-detail"></div>
    <!-- Skjult input-felt for å fange opp strekkode -->
    <input type="text" id="barcodeInput" style="position: absolute; left: -9999px;">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const urlParams = new URLSearchParams(window.location.search);
            const bookNumber = urlParams.get('number');
            fetch(`/bok/${bookNumber}`)
                .then(response => response.json())
                .then(book => {
                    const bookDetailDiv = document.getElementById('bookDetail');
                    bookDetailDiv.innerHTML = `
                        <h2>${book.Tittel}</h2>
                        <p>Forfatter: ${book.Forfatter}</p>
                        <p>ISBN: ${book.ISBN}</p>
                        <img src="/static/barcode/${book.Nummer}.png" alt="Barcode">
                        <p>Nummer: ${book.Nummer}</p>
                        <button onclick="deleteBook(${book.Nummer})">Slett</button>
                    `;
                });

            // Setup barcode scanner
            setupBarcodeScanner();
        });

        function deleteBook(bookNumber) {
            fetch(`/slettbok/${bookNumber}`, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(result => {
                alert(result.resultat);
                window.location.href = '/';
            });
        }

        function setupBarcodeScanner() {
            const barcodeInput = document.getElementById('barcodeInput');
            barcodeInput.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    const barcode = barcodeInput.value;
                    barcodeInput.value = ''; // Tøm input-feltet etter skanning
                    window.location.href = `/bok.html?number=${barcode}`;
                }
            });

            // Fokuser på det skjulte input-feltet for å fange opp strekkode-inndata
            document.body.addEventListener('click', function() {
                barcodeInput.focus();
            });

            // Fokuser på input-feltet når siden lastes
            barcodeInput.focus();
        }
    </script>
</body>
</html>
