<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bibliotek</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1 onclick="fetchBooks()">Bibliotek</h1>
        <input type="text" id="search" placeholder="Søk etter bøker..." onkeyup="searchBooks()">
        <button onclick="showAddBookForm()">Legg til bok</button>
    </header>
    <div id="books"></div>
    <div id="addBookForm" style="display: none;">
        <h2>Legg til ny bok</h2>
        <input type="text" id="newTitle" placeholder="Tittel">
        <input type="text" id="newAuthor" placeholder="Forfatter">
        <input type="text" id="newISBN" placeholder="ISBN">
        <input type="number" id="newNumber" placeholder="Nummer">
        <button onclick="addBook()">Legg til</button>
        <button onclick="hideAddBookForm()">Avbryt</button>
    </div>
    <!-- Skjult input-felt for å fange opp strekkode -->
    <input type="text" id="barcodeInput" style="position: absolute; left: -9999px;">
    <script src="/static/js/main.js"></script>
</body>
</html>
