<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubetalte Lån</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1 onclick="window.location.href='/'">Bibliotek</h1>
    </header>
    <div id="unpaidLoans" class="unpaid-loans-container"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/ubetalte_lån')
                .then(response => response.json())
                .then(borrowers => {
                    const unpaidLoansDiv = document.getElementById('unpaidLoans');
                    borrowers.forEach(borrower => {
                        const borrowerDiv = document.createElement('div');
                        borrowerDiv.className = 'borrower-detail';
                        borrowerDiv.innerHTML = `
                            <h3>${borrower.Fornavn} ${borrower.Etternavn}</h3>
                            <p>Nummer: ${borrower.Nummer}</p>
                            <ul>
                                ${borrower.Bøker.map(book => `<li>${book.Tittel} - Lånt dato: ${book.loan_date}</li>`).join('')}
                            </ul>
                        `;
                        unpaidLoansDiv.appendChild(borrowerDiv);
                    });
                });
        });
    </script>
</body>
</html>
